.App-header {
    padding: 2em 1em;
    background: rgb(80, 44, 120);
}

.App-heading {
    padding: 1em;
}

.App-searchLoader {
    min-height: 5em;
}

.App-searchResult {
    cursor: pointer;
    color: rgba(0,0,0,.87);
    display: block;

    transition: background 200ms;
}

.App-searchResult:hover {
    color: rgba(0,0,0,.87);
    background: rgb(231, 219, 234);
}

.App-noSearch {
    opacity: 0.2;
    padding: 3em 1em 2em 1em !important;
}

.App-footer {
    border-top: 1px solid rgb(230, 230, 230);
    margin-top: 1em;
    padding: 1.5em 0;
    opacity: 0.8;
}
